.main{
    display: flex;
    
}

.wrp-input {
    display: flex;
    justify-content: center;   
    margin-bottom: 16px;
}
.wrp-grid {
    display: flex;
    justify-content: center;
    height: auto;
}
.input{
    height: 100px;
    width: 80%;
    display: flex;
}

.number-input {
    display: flex;    
    align-items: center;

    margin: 8px;
    width: 80%;
    height: 100%;
    background-color: palegreen;
    border: 1px solid black;
}
.number-input h3{
    padding-left: 16px
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    width: 80%;
}
.item {
    margin: 8px;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    
    color: black;
}
.item:hover{
    background-color: lightgray;
}
.calc, .historie{
    border: 1px solid black;
    width: 50vw;
    height: 85vh;
    margin: 15px;
    
}

